<div style="background-image: url('https://cdn1.vox-cdn.com/thumbor/--2xvMkAkmNQjXigdNCTZcrxrPo=/939x561:2333x1490/1280x853/cdn0.vox-cdn.com/uploads/chorus_image/image/46661498/Emanuel_Leutze__28American_2C_Schw_C3_A4bisch_Gm_C3_BCnd_1816_E2_80_931868_Washington_2C_D.C._29_-_Washington_Crossing_the_Delaware_-_Google_Art_Project.0.0.jpg')">
  <div class="formSmall moreDetailsUser">
    <form name="productForm" ng-submit="update()">
      <fieldset>
        <div class="form-group">
             <label>First Name</label>
            <input class="form" name="name" type="text" ng-model="edited.firstName" placeholder="{{info.firstName}}" />
        </div>
        <div class="form-group">
          <label>Last Name</label>
            <input class="form" name="price" type="text" ng-model="edited.lastName" placeholder="{{info.lastName}}" />
        </div>
        <div class="form-group">
          <label>Music</label>
            <input class="form" name="type" type="text" ng-model="edited.music" placeholder="{{info.music}}"/>
        </div>
        <div class="form-group">
          <label>Dining</label>
            <input class="form" name="quantity" type="text" ng-model="edited.dining" placeholder="{{info.dining}}">
        </div>
        <div class="form-group">
          <label>Parties</label>
            <input class="form" name="name" type="text" ng-model="edited.parties" placeholder="{{info.parties}}"></input>
        </div>
        <div class="form-group">
          <label>Board Games</label>
            <input class="form" name="name" type="text" ng-model="edited.boardGames" placeholder="{{info.boardGames}}"></input>
        </div>
        <div class="form-group">
          <label>Video Games</label>
            <input class="form" name="name" type="text" ng-model="edited.videoGames" placeholder="{{info.videoGames}}"></input>
        </div>
        <div class="form-group">
          <label>Movies</label>
            <input class="form" name="name" type="text" ng-model="edited.movies" placeholder="{{info.movies}}"></input>
        </div>
        <div class="form-group">
          <label>Vacations</label>
            <input class="form" name="name" type="text" ng-model="edited.vacations" placeholder="{{info.vacations}}"></input>
        </div>
        <div class="form-group">
          <label>Projects</label>
            <input class="form" name="name" type="text" ng-model="edited.projects" placeholder="{{info.projects}}"></input>
        </div>
        <div class="form-group">
          <label>Events</label>
            <input class="form" name="name" type="text" ng-model="edited.events" placeholder="{{info.events}}"></input>
        </div>
        <div class="form-group">
          <label>Weekend Night</label>
            <input class="form" name="name" type="text" ng-model="edited.weekendNight" placeholder="{{info.weekendNight}}"></input>
        </div>
        <div class="form-group">
          <label>Weekday Night</label>
            <input class="form" name="name" type="text" ng-model="edited.weekdayNight" placeholder="{{info.weekdayNight}}"></input>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success">Update User</button>
        </div>
      <fieldset>
    </form>
    </div>
  </div>

</div>
