<div>
  <div class="col-md-6">
    <form name="productForm" ng-submit="update()">
      <fieldset>
        <div class="form-group">
             <label>First Name</label>
            <input class="form-control" name="name" type="text" ng-model="edited.firstName" placeholder="{{info.firstName}}" />
        </div>
        <div class="form-group">
          <label>Last Name</label>
            <input class="form-control" name="price" type="text" ng-model="edited.lastName" placeholder="{{info.lastName}}" />
        </div>
        <div class="form-group">
          <label>Music</label>
            <input class="form-control" name="type" type="text" ng-model="edited.music" placeholder="{{info.music}}"/>
        </div>
        <div class="form-group">
          <label>Dining</label>
            <input class="form-control" name="quantity" type="text" ng-model="edited.dining" placeholder="{{info.dining}}"/>
        </div>
        <div class="form-group">
          <label>Parties</label>
            <input class="form-control" name="name" type="text" ng-model="edited.parties" placeholder="{{info.parties}}"></input>
        </div>
        <div class="form-group">
          <label>Board Games</label>
            <input class="form-control" name="name" type="text" ng-model="edited.boardGames" placeholder="{{info.boardGames}}"></input>
        </div>
        <div class="form-group">
          <label>Video Games</label>
            <input class="form-control" name="name" type="text" ng-model="edited.videoGames" placeholder="{{info.videoGames}}"></input>
        </div>
        <div class="form-group">
          <label>Movies</label>
            <input class="form-control" name="name" type="text" ng-model="edited.movies" placeholder="{{info.movies}}"></input>
        </div>
        <div class="form-group">
          <label>Vacations</label>
            <input class="form-control" name="name" type="text" ng-model="edited.vacations" placeholder="{{info.vacations}}"></input>
        </div>
        <div class="form-group">
          <label>Projects</label>
            <input class="form-control" name="name" type="text" ng-model="edited.projects" placeholder="{{info.projects}}"></input>
        </div>
        <div class="form-group">
          <label>Events</label>
            <input class="form-control" name="name" type="text" ng-model="edited.events" placeholder="{{info.events}}"></input>
        </div>
        <div class="form-group">
          <label>Weekend Night</label>
            <input class="form-control" name="name" type="text" ng-model="edited.weekendNight" placeholder="{{info.weekendNight}}"></input>
        </div>
        <div class="form-group">
          <label>Weekday Night</label>
            <input class="form-control" name="name" type="text" ng-model="edited.weekdayNight" placeholder="{{info.weekdayNight}}"></input>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success">Update User</button>
        </div>
      <fieldset>
    </form>
    </div>
  </div>

</div>
